@page "/login-providers"

@{

    var providers = new Dictionary<string, string[]>
    {
       
        { "microsoft", new string[3]{ "windows", "aad", "Azure AD" }}
    };
}
<h1>Login</h1>

<div>
    @foreach(var provider in providers)
    {
        
    <a href="/.auth/login/@provider.Value[1]">Sign in with windows</a>
    }
</div>